.chat-container {
  max-width: 600px;
  max-height:400px;
  display: flex;
  flex-direction: column;
  container-type: inline-size;
  border: 1px solid gainsboro;
  border-radius: 4px;
  border-radius: 10px;
  
}

.messages-container {
  flex-grow: 1;
}

.message-wrapper {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: none; 
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.assistant-message {
  max-width: fit-content;
  background-color:beige;
  padding: 7px;
  align-self: flex-start;
  border-radius: 15px 15px 15px 2px;
  margin: 5px;
}

.user-message {
  max-width: fit-content;
  background-color: bisque;
  padding: 7px;
  align-self: flex-end;
  border-radius: 15px 15px 2px 15px;
  margin: 5px;
}

.input-box {
  width: 100%;
  padding: 8px;
  border: none;
  border-top: 1px solid gainsboro;
  border-radius: 0 0 10px 10px;
  outline: none;
  resize: none; /* Prevents manual resizing */
  min-height: 20px;
  max-height: 500px; /* Prevents it from growing too large */
  overflow-y: hidden; /* Hides scrollbar */
}

.message-bubble {
  margin: 5px;
}

form {
  margin: 0;
}






