.container {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  /* border-style: solid;
  border-color: red;
  border-width: 2px; */
}

.chat-component {
  align-self: center;
  width: 600px;  /* or whatever width you want */
  height: auto;  /* lets the component maintain its natural height */
  min-height: 600px;  /* optional: sets a minimum height */
  margin-top: 20px; /* adds some space from the top */
  /* border-style: solid;
  border-color: red;
  border-width: 2px;  */
}



